---

---

<section>
  <div class="container">
    <div class="card">
      <div class="subtitulo">
        <h3 class="text-3xl font-bold">OPERAMOS</h3>
      </div>
      <ul class="mt-6 flex flex-col gap-0.5 text-xs">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Instalacion de sistemas operativos</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Formateos</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Mantenimiento y reparacion</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Mejoras del sistema</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Equipos de escritorio</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Notebook / Laptops</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Mantenimiento de consolas</span>
        </li>
      </ul>
    </div>
    <div class="card-medio">
      <div class="subtitulo">
        <h3 class="text-3xl font-bold">CUALIDADES</h3>
      </div>
      <ul class="mt-6 flex flex-col gap-0.5 text-xs">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Transparencia</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Eficiencia</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Calidad de servicio</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Compromiso</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Esctructura de trabajo</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Asesoramiento</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Atencion especializada</span>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="subtitulo">
        <h3 class="text-3xl font-bold">BENEFICIOS</h3>
      </div>
      <ul class="mt-6 flex flex-col gap-5 text-xs">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Tiempo de entrega</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Precio</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Garantias</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Resultados</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path></svg
          >
          <span>Seguridad</span>
        </li>
      </ul>
    </div>
  </div>
</section>
  <style>
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
      width: auto;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 96%;
      width: 100%;
      gap: 4rem;
    }

    .card {
      background: rgb(255, 255, 255);
      padding: 4px;
      width: 19.35rem;
      height: 90%;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    .card-medio {
      background: rgb(255, 255, 255);
      padding: 4px;
      width: 19.35rem;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    .card h3 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .card ul li {
      font-size: 14px;
      color: #555;
      padding: 9px;
    }

    .card-medio h3 {
      padding: 5px;
    }

    .card-medio ul li {
      font-size: 14px;
      color: #555;
      padding: 12px;
    }

    h3 {
      color: black;
    }

    .subtitulo {
      background: rgb(240, 240, 240);
      background: linear-gradient(
        90deg,
        rgba(240, 240, 240, 1) 0%,
        rgba(196, 196, 196, 1) 41%,
        rgba(202, 186, 241, 1) 100%
      );
      border-radius: 8px;
    }

    /* Media Query para pantallas más pequeñas */
  @media (max-width: 1024px) {
    section {
      
      height: auto; /* Ajusta la altura de la sección en dispositivos más pequeños  */
      margin-top: 0px;
    }

    .container {
      flex-direction: column;
      gap: 2rem; /* Reduce más el espacio entre las tarjetas  */
      width: 350px;
    }

    .card, .card-medio {
      width: 100%; /* Ajusta aún más el tamaño de las tarjetas */
    }

    span {
      font-size: 16px;
    } 
  }

  @media (max-width: 768px) {
    section {
      height: auto; /* Ajusta la altura de la sección en dispositivos más pequeños  */
      margin-top: 0px;
    }

    .container {
      gap: 2rem; /* Reduce más el espacio entre las tarjetas  */
      width: 350px;
    }

    .card, .card-medio {
      width: 100%; /* Ajusta aún más el tamaño de las tarjetas */
    }

    span {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    section {
      height: auto; /* Ajusta la altura de la sección en dispositivos más pequeños  */
      margin-top: 0px;
    }

    .container {
      gap: 2rem; /* Reduce más el espacio entre las tarjetas  */
      width: 350px;
    }

    .card, .card-medio {
      width: 100%; /* Ajusta aún más el tamaño de las tarjetas */
    }

    .subtitulo {
      font-size: 12px; /* Reduce el tamaño del texto en la sección de subtítulos */
    }

    span {
      font-size: 16px;
    }
}
  </style>

