<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="url" href="https://iconos8.es/icon/20420/imac" />
		<meta name="generator" content={Astro.generator} />
		<title>FixIT Solutions</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		background: rgb(240, 240, 240);
		background: linear-gradient(
			90deg,
			rgb(209, 209, 209, 1) 0%,
			rgba(196, 196, 196, 1) 35%,
			rgba(249, 188, 128, 1) 100%
		);
	}
</style>
